@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600&display=swap");

body {
	font-family: "Lexend Deca", sans-serif;
	background-color: #9f9ba4;
	font-size: 1.25em;
}
a {
	color: #020536;
	text-decoration: none;
}
a:visited {
	color: #020536;
}
img {
	width: 48px;
	height: 48px;
	max-width: 48px;
	max-height: 48px;
}
h1 {
	text-align: center;
}
.bold-on-hover {
	font-size: larger;
	font-weight: 300;
	transition: font-weight 0.25s ease-in;
}
.bold-on-hover:hover {
	font-weight: 600;
}
header {
	color: #fff;
	padding: 10px 0;
	text-align: center;
}
.flex-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}